body {
  background-image: url("../images/Los Del Sur Portada.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* La imagen de fondo permanecerá fija mientras se desplaza el contenido */
  width: 100%;
  height: 100%;
  position: relative;
}

.fondo-opaco {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 350px;
  padding: 30px 50px;
}

h1 {
  font-family: "Grand Hotel", cursive;
  color: #ffffff;
  font-size: 60px;
  font-weight: 100;
  margin: 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  z-index: 3;
}

.subtitle {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 25px;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: 700;
  letter-spacing: 1px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  padding: 20px;
  /* Aumentar el relleno */
}

.footer a {
  color: #ffffff;
  font-size: 18px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 850px) {
  .content {
    padding: 20px;
    /* Reducir el relleno */
  }

  h1 {
    font-size: 40px;
    /* Reducir el tamaño del título */
  }

  .subtitle {
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    padding: 35px; /* Ajustar el relleno */
  }

  h3 {
    font-size: 20px;
  }

  .footer {
    font-size: 14px;
    margin-top: 30px;
  }

  .video-container {
    width: 40%;
    padding-bottom: 15%;
  }

  .video-container iframe {
    width: 100%;
    height: 100%;
  }
}